<footer class="bg-light text-center text-lg-start mt-auto">
  <div class="class-footer">
    <div class="container text-center">
      <!-- Accordion for Small Screens -->
      <div class="accordion d-lg-none" id="footerAccordion">
        <!-- Section: Institucional -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#accordionInstitucional"
              aria-expanded="false"
              aria-controls="accordionInstitucional"
            >
              Institucional
            </button>
          </h2>
          <div id="accordionInstitucional" class="accordion-collapse collapse">
            <div class="accordion-body">
              <ul class="list-unstyled">
                <li><a href="#" class="link-small">A Insums</a></li>
                <li><a href="#" class="link-small">Timeline</a></li>
                <li><a href="#" class="link-small">Work With Us</a></li>
                <li><a href="#" class="link-small">Our Business</a></li>
                <li><a href="#" class="link-small">Blog</a></li>
                <li><a href="#" class="link-small">Visit The Insums</a></li>
                <li>
                  <a href="#" class="link-small">Purpose of Taxation</a>
                </li>
                <li><a href="#" class="link-small">Solar Energy</a></li>
                <li>
                  <a href="#" class="link-small">Sell Your Products</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Section: Suporte -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#accordionSupport"
              aria-expanded="false"
              aria-controls="accordionSupport"
            >
              Suporte
            </button>
          </h2>
          <div id="accordionSupport" class="accordion-collapse collapse">
            <div class="accordion-body">
              <ul class="list-unstyled">
                <li><a href="#" class="link-small">Call Center</a></li>
                <li>
                  <a href="#" class="link-small">Frequently Asked Questions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Section: Segurança -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#accordionSecurity"
              aria-expanded="false"
              aria-controls="accordionSecurity"
            >
              Segurança
            </button>
          </h2>
          <div id="accordionSecurity" class="accordion-collapse collapse">
            <div class="accordion-body">
              <ul class="list-unstyled">
                <li><a href="#" class="link-small">Delivery Policy</a></li>
                <li>
                  <a href="#" class="link-small">Exchange and Return Policy</a>
                </li>
                <li><a href="#" class="link-small">Campaign Policy</a></li>
                <li><a href="#" class="link-small">Security and Values</a></li>
              </ul>
            </div>
          </div>
        </div>
        <p class="h6, title">Atendimento</p>
        <div>
          <button class="btn-service btn-telephone" type="button">
            <i class="bi bi-telephone"></i>
            <span>(44) 3221-3557</span>
          </button>
        </div>
        <div>
          <button class="btn-service btn-whatapp" type="button">
            <i class="bi bi-whatsapp"></i>
            <span>WhatsApp</span>
          </button>
        </div>
        <p class="h6 open">
          Opening hours: <br />
          Monday to Friday: 8am to 12pm - 1:30pm to 5:30pm<br />
          Brasilia time
        </p>
        <div class="conteiner-social-midia">
          <button class="btn-social-midia-footer">
            <img
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983395/project-insums/social-midia/InstagramVector_hgemcu.png"
              alt="Instagram"
            />
          </button>
          <button class="btn-social-midia-footer">
            <img
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983394/project-insums/social-midia/FacebookVector_hbujia.png"
              alt="FaceBook"
            />
          </button>
          <button class="btn-social-midia-footer">
            <img
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983393/project-insums/social-midia/LinkdinVector_wbb66w.png"
              alt="Linkdin"
            />
          </button>
          <button class="btn-social-midia-footer">
            <img
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983392/project-insums/social-midia/YouTubeVector_of635b.png"
              alt="YouTube"
            />
          </button>
        </div>
        <h6 class="title">Payment methods</h6>
        <div>
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983390/project-insums/payment/mastercardFooter_znj1pd.png"
            alt="Mastercard"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983384/project-insums/payment/visaFooter_fn8l9i.png"
            alt="Visacard"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983387/project-insums/payment/amexFooter_qxdtfw.png"
            alt="Amexcard"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983386/project-insums/payment/dinersFooter_ln8j3i.png"
            alt="DinersClub card"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983388/project-insums/payment/boletoFooter_h8ofzr.png"
            alt="Boleto"
          />
        </div>
        <div>
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983383/project-insums/payment/eloeloFooter_n9rva8.png"
            alt="Elocard"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983389/project-insums/payment/hiperFooter_wy1ehk.png"
            alt="Hipercard"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983382/project-insums/payment/eloFooter_vmiz6t.png"
            alt="Cielocard"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983391/project-insums/payment/itauFooter_m0uyao.png"
            alt="Itaucard"
          />
          <img
            class="pay-logo-footer"
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983385/project-insums/payment/pixFooter_aooofa.png"
            alt="Pix"
          />
        </div>
        <p class="small-text">
          -split your purchases across up 2 cards and pay in up to 6
          installments.<br />
          -Sales subject to analysis and confirmation of data by the company.<br />
          (*) Offers valids for select products, see condition.
        </p>
        <h6 class="title">Certifications</h6>
        <img
          src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983382/project-insums/certifications/Container_encrvl.png"
          alt="Certifications"
          srcset=""
        />
      </div>

      <!-- Footer Content for Large Screens -->

      <div class="row d-none d-lg-flex">
        <div class="col">
          <h6 class="title">Institucional</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="link">A Insums</a></li>
            <li><a href="#" class="link">Timeline</a></li>
            <li><a href="#" class="link">Work With Us</a></li>
            <li><a href="#" class="link">Our Business</a></li>
            <li><a href="#" class="link">Blog</a></li>
            <li><a href="#" class="link">Visit The Insums</a></li>
            <li><a href="#" class="link">Purpose of Taxation</a></li>
            <li><a href="#" class="link">Solar Energy</a></li>
            <li><a href="#" class="link">Sell Your Products</a></li>
          </ul>
        </div>
        <div class="col col-text">
          <h6 class="title">Suporte</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="link">Call Center</a></li>
            <li><a href="#" class="link">Frequently Asked Questions</a></li>
          </ul>
          <h6 class="title">Payment methods</h6>
          <div>
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983390/project-insums/payment/mastercardFooter_znj1pd.png"
              alt="Mastercard"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983384/project-insums/payment/visaFooter_fn8l9i.png"
              alt="Visacard"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983387/project-insums/payment/amexFooter_qxdtfw.png"
              alt="Amexcard"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983386/project-insums/payment/dinersFooter_ln8j3i.png"
              alt="DinersClub card"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983388/project-insums/payment/boletoFooter_h8ofzr.png"
              alt="Boleto"
            />
          </div>
          <div>
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983383/project-insums/payment/eloeloFooter_n9rva8.png"
              alt="Elocard"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983389/project-insums/payment/hiperFooter_wy1ehk.png"
              alt="Hipercard"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983382/project-insums/payment/eloFooter_vmiz6t.png"
              alt="Cielocard"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983391/project-insums/payment/itauFooter_m0uyao.png"
              alt="Itaucard"
            />
            <img
              class="pay-logo-footer"
              src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983385/project-insums/payment/pixFooter_aooofa.png"
              alt="Pix"
            />
          </div>
          <p class="small-text">
            -split your purchases across up 2 cards and pay in up to 6
            installments.<br />
            -Sales subject to analysis and confirmation of data by the
            company.<br />
            (*) Offers valids for select products, see condition.
          </p>
        </div>
        <div class="col">
          <h6 class="title">Segurança</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="link">Delivery Policy</a></li>
            <li><a href="#" class="link">Exchange and Return Policy</a></li>
            <li><a href="#" class="link">Campaign Policy</a></li>
            <li><a href="#" class="link">Security and Values</a></li>
          </ul>
        </div>
        <div class="col t">
          <p class="h6, title">Atendimento</p>
          <div>
            <button class="btn-service btn-telephone" type="button">
              <i class="bi bi-telephone"></i>
              <span>(44) 3221-3557</span>
            </button>
          </div>
          <div>
            <button class="btn-service btn-whatapp" type="button">
              <i class="bi bi-whatsapp"></i>
              <span>WhatsApp</span>
            </button>
          </div>
          <p class="h6 open">
            Opening hours: <br />
            Monday to Friday: 8am to 12pm - 1:30pm to 5:30pm<br />
            Brasilia time
          </p>
          <div class="conteiner-social-midia">
            <button class="btn-social-midia-footer">
              <img
                src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983395/project-insums/social-midia/InstagramVector_hgemcu.png"
                alt="Instagram"
              />
            </button>
            <button class="btn-social-midia-footer">
              <img
                src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983394/project-insums/social-midia/FacebookVector_hbujia.png"
                alt="FaceBook"
              />
            </button>
            <button class="btn-social-midia-footer">
              <img
                src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983393/project-insums/social-midia/LinkdinVector_wbb66w.png"
                alt="Linkdin"
              />
            </button>
            <button class="btn-social-midia-footer">
              <img
                src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983392/project-insums/social-midia/YouTubeVector_of635b.png"
                alt="YouTube"
              />
            </button>
          </div>

          <p class="h6, title">Certifications</p>
          <img
            src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1731983382/project-insums/certifications/Container_encrvl.png"
            alt="Certifications"
            srcset=""
          />
        </div>
      </div>
    </div>
    <div class="rights">
      <p class="h6 teste">2024 &#64; All rights reserved</p>
      <small
        >Insums Cooperativa Agroindustrial: Estrada Numero Lorem, ipsum dolor
        sit, n° 0000, Bairro Xxxxx Xxxxxxx - Áimores - MG | zip code 12345-789 |
        <br />
        CNPJ: 12.345.678/0001-91 Insums Guidance Center (COC): 0800 000 00000 </small
      ><br />
    </div>
  </div>
</footer>
