main{
    background-color:#f5f5f5
    
}

.conteiner-slider{
    position: relative;
    max-width: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}

@media(width < 576px){
  .big-carrousel-lg{
    display: none;
  }
}

@media(width > 576.1px){
  .big-carrousel-sm{
    display: none;
  }
}


.btn-slider{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    font-size: 20px;
    background-color: #E5E5E5;
    color: #8A8888;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}

.arrow-left, .arrow-right{    
    position: absolute;
    top:50%;
    left: 0;
    right: auto;
    bottom: auto;
    border: none;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.arrow-right{
    right: 0;
    left: auto;
}

.arrow-left:hover{
    background-color: #8A8888;
    color: #E5E5E5;
}

.arrow-right:hover{
    background-color: #8A8888;
    color: #E5E5E5;
}

.item{
    width: 1200px;
    height: 415px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;

}



.current-item{
    opacity: 1;

}


/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /*---------------------Start Info Img--------------------------*/
  .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #00572D;
  }



  .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}




 .container-info{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 
 
  .img-info{
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .text-inf{
    font-size: 14px;
    font-weight:700;
    color: #414042;
    align-items: center;
    margin:1rem 4rem 1rem 1rem ; 
  }

  .text-info-spam{
    color: #00572D;
    align-items: end;
  }

  @media(width >= 576.1px){
    .info-sm{
      display: none;
    }
  }

  @media(width < 576px){
    .info-lg{
      display: none;
    }

    .img-info{
      display: block;
      text-align: center;
    }
  
    .text-inf{
      font-size: 12px;
      font-weight:700;
      color: #414042;
      align-items: center;
      margin:1rem 1rem 1rem 1rem ;
    }
  
    .text-info-spam{
      color: #00572D;
      align-items: end;
    }

  }
    /*---------------------Finish Info Img--------------------------*/
    /*---------------------Start Title--------------------------*/

    .title-h3{
        text-align: center;
        margin-bottom: 2rem;
        padding-top: 1rem;
        color: #00572D;
        font-weight: 800;
        font-family: "DM Sans", serif;
    }

    .text-day-day{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #00572D;
        font-weight: 700;
        text-align: center;
    }

    .bi-dot{
        color: #5FB929;
        font-size: 3rem;
    }

    /*---------------------Finish Title--------------------------*/

     /*---------------------Start btm--------------------------*/

     @media(width > 991.91px){
      .container-btn{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content:  center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
     

     @media(width < 576px){
      .container-btn{
        display: grid;
      }
    }

      @media (min-width: 576.1px) and (max-width: 991.8px){
        .container-btn{
          display: block;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        .btn-filter{
          margin-top:1rem ;
        }
        }

     .btn-filter-news{
        text-align: center;
        background-color: #5FB929;
        border: 1px #5FB929;
        border-radius: 4px;
        color: #414042;
        height: 44.22px;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 1rem;
        margin-left: 1rem;
     }

     .btn-filter{
        text-align: center;
        background-color: white;
        border-radius: 4px;
        color: #414042;
        height: 44.22px;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;  
        margin-right: 1rem;
        margin-left: 1rem;     
     }

     /*---------------------Finish btm--------------------------*/
      /*---------------------Start Card--------------------------*/

      @media(width >576.1px)
      {
        .carouselLartCardSmall{
          display: none;
        }
      }
      @media (width < 576px){
        .carouselLartCardLarge{
          display: none;
        }
        .cards{
          max-width: 12rem;
  
        }

        .btn-see{
          padding-bottom: 3rem;
        }


      }
      .container-card{
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 2rem;
      }
      .container-link-card{
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        text-decoration: none;
        
      }
      .cards{
        border-radius: 5px;
        text-align: center;
        width: 15rem;
        background-color: #FFFFFF;
       
      }

      .container-btn-like{
        display: flex;
        justify-content: end;
        margin-right: 1.5rem;
      }
      .btn-like{
        margin-top: 1rem;        
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 500;      
        background-color: white;
        border: 2px solid white;
        color: white;
        
      }

      .container-btn-like :hover{
        border: 2px solid #00572D;
        border-radius: 5px;
        color: #00572D;
        transition: all 0.3s ease; /* Transição suave */
      }


      .container-btn-like :hover .btn-like-icon{
        border: none;
      }
      .btn-like-icon{
        color: #00572D;
        font-size: 2rem;

      }

      .container-img-card{
        justify-content: center;
        
      }
      .img-cards{
        width: 100%;
        
      }

      .container-text-card{
   
      }

      .text-card-free-shipping{
        text-align: center;
        background-color: rgba(0, 87, 45, 0.3);
        border: 1px solid #00572D;
        text-transform: uppercase;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: small;
        border-radius: 3px;
        color: #00572D;
      }

      .text-card-info-name{
        font-size: .9rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color:#414042;
      }

      .free-space-size{
        background: white;
        height: 2rem;

      }

      .like-card{
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #00572D;
      }

        .card-price{
        color: #00572D;
        font-weight:700 ;
        font-family: "DM Sans", serif;
        font-size: x-large;
        
        margin-bottom: 0rem
      }

      .info-price{
        font-size: .9rem;
        color: #414042;
       
      }

      .btn-card{    
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .btn-buy{
        text-transform: uppercase;
        background-color: #00572D;
        color: #E5E5E5;
        font-weight: 600;
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: 3px;
        margin-top: 1rem;
        margin-bottom: 1rem;       
      }
      .btn-see{
        color: #00572D;
        font-weight: bold;
        background-color: white;
        border-radius: 4px;
        border: 2px solid #00572D;
        margin-bottom: 1rem;
        height: 2.5rem;
        
        padding-left: 3rem;
        padding-right: 3rem;   
        
      }
       /*---------------------Start Card--------------------------*/

        /*---------------------Start Banner SM--------------------------*/
     
        @media (width < 576.1px){
           
           .banner-md,.banner-lg{
            display: none;
           }
        }

        .card-banner{
          margin-bottom:3rem;
          padding-left: 3rem;
          padding-right: 3rem;
        }

        .banner-sm{
          display: flex;
          justify-content: center;
         }


         .card-banner-md{
          border: 1px solid red;
          display: flex;
          justify-content: space-evenly;
          padding: 0 5rem 5rem 5rem;
          }

         


        /*---------------------Finish Banner SM--------------------------*/
        /*---------------------------------------------------------------*/
         /*---------------------Start Banner MD--------------------------*/

          @media (min-width: 576.1px) and (max-width: 991.9px) {
           
            .banner-sm, .banner-lg{
             display: none;
            } 
            
           }
           /*---------------------Finish Banner MD--------------------------*/

         /*---------------------Start Banner MD--------------------------*/

          @media (width >= 992px){
           
            .banner-sm, .banner-md{
             display: none;
            }
 
                          
            .banner-img{
             display: flex;
             justify-content: center;
             gap: 1rem;
             margin-top: 1rem;
             margin-bottom: 2rem;
            }
            
           }
           /*---------------------Finish Banner MD--------------------------*/

           /*Produtos para o campo*/
           .for-farm{
            margin-top: 2rem;
           }

           /**************Start last card buy large-card *************************/
           @media (width < 576px){
            .last-small-card-sm, .carouselLastCard-Md{
              display: none;
            }
           }


           @media (min-width: 576.1px) and (max-width: 991.9px) {
           
            .carouselLartCardLarge{
             display: none;
            } 
            
           }

           /**************Start last card buy small-card *************************/
           @media (width > 991.91px){
            .carouselLastCard-Md{
              display: none;
            }
           }

             /**************Lard Brand and text *************************/

           .container-text-brand-md{
            display: flex;
            align-items: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
            margin-left: 10rem;
            margin-right: 10rem;
           }

           .brand-logo-md{
            justify-content: center;
            align-items: center;
            background-color:#00572D;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
                 
           }

           .brand-logo-md img{
            margin-left: 1rem;
            margin-top: 3rem;
            justify-content: center;
            align-items: center;   
           }

           .text-insums{
            margin-left: 7.5rem;
            padding-left: 5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-right: 2rem;
            background-color: #5FB929;
            text-align: justify;
           }
          
         

           @media (width >= 576px){
            .brand-sm {
              display: none;
            }
           }

           /**************Small Brand and text *************************/

           @media (width < 576px){
           
            .brand-md{
             display: none;
            }
           }

           .container-text-brand-sm{
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 5rem;

           }

           .brand-logo-sm{            
            background-color:#00572D;
            width: 125px;
            height: 125px;
            border-radius: 50%;
            position: absolute;
          }

          .brand-logo-sm img {
            width: 100px;
            margin-left: 0.75rem;
            margin-top: 1.75rem;
            justify-content: center;
            align-items: center;
           }
           .text-insums-sm{
            margin-bottom:3rem ;
            padding-left: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 1rem;
            background-color: #5FB929;
            text-align: justify;
            margin-top:4rem;
           }

           


