<!--open big Carrousel/slider-->
<main>
<div class="conteiner-slider">
    <button class=" btn-control btn-slider bi bi-chevron-left arrow-left" aria-label="Previous image"></button>
    <button class="btn-control btn-slider bi bi-chevron-right arrow-right" aria-label="Next image"></button>
    <div class="gallery-wrapper">
        <div class="gallery">
            <img class="item current-item" src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1735581825/project-insums/carrousel/erva-mate_rotiim.png" alt="Erva-Mate">
            <img class="item" src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1735581825/project-insums/carrousel/confot-pads_t8yte1.png" alt="Ração Pads">
            <img class="item" src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1735581824/project-insums/carrousel/boro-solo_owhcbn.png" alt="Boro Solo">
       </div>
    </div>
</div>  

<!--close big Carrousel/slider-->
<!--open small Carrousel/slider-->

<!--close small Carrousel/slider-->
<!--Start Informations imagems-->
<section>
    <div class="container container-info">
        <div class="row">
          <div class="col-3 img-info">
            <img src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736195452/project-insums/info-img/cards.png" alt="" srcset="">
            <p class="text-inf">Parcele suas compras<br><span class="text-info-spam">em até 2 cartões</span></p>
            
            <img src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736195786/project-insums/info-img/Vertical_Divider.png" alt="" srcset="">
          </div>
          <div class="col-3 img-info">
            <img src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736195411/project-insums/info-img/brasil.png" alt="" srcset="">
            <p class="text-inf">Parcele suas compras<br><span class="text-info-spam">em até 2 cartões</span></p>
            <img src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736195786/project-insums/info-img/Vertical_Divider.png" alt="" srcset="">
          </div>
          <div class="col-3 img-info">
            <img src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736195500/project-insums/info-img/map-pin.png" alt="" srcset="">
            <p class="text-inf">Parcele suas compras<br><span class="text-info-spam">em até 2 cartões</span></p>
            <img src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736195786/project-insums/info-img/Vertical_Divider.png" alt="" srcset="">
          </div>
          <div class="col-3 img-info">
            <img src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736195477/project-insums/info-img/badge.png" alt="" srcset="">
            <p class="text-inf">Parcele suas compras<br><span class="text-info-spam">em até 2 cartões</span></p>
          </div>
        </div>
      </div>
</section>
<!--Finish Informations imagems-->
<section class="container-day-day">
    <h3 class="title-h3">Do campo à cidade, os melhores produtos você encontra aqui na Cocamar!</h3>
    <h4 class="text-day-day"><i class="bi bi-dot"></i>Produtos para o dia a dia<i class="bi bi-dot"></i></h4>
</section>
<section>
    <div class="container-btn">
        <button class="btn-filter-news">Novidades</button>
        <button class="btn-filter">Supermarket</button>
        <button class="btn-filter">house and garden</button>
        <button class="btn-filter">clothing</button>
        <button class="btn-filter">pet line</button>

    </div>
</section>
<!------------------Start cards--------------------------->
<div class="container-cards">
    <div class="cards">
      <div class="container-btn-like">
        <button class="btn-like" type="button">Favoritar<i class="bi bi-hand-thumbs-up btn-like-icon noHover"></i></button>
      </div>
      <div class="container-img-card">
        <img class="img-cards" src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1736272839/project-insums/cards/Pote-ra%C3%A7%C3%A3o-15kg.png.png" alt="" srcset="">
      </div>
      <div class="container-text-card">
        <p class="text-card-free-shipping">Free shipping</p>
        <p class="text-card-info-name">Porta Ração Container 15Kg Furacão
          Pet</p>        
      </div>
      <div class="free-space-size">.</div>
      <div class="like-card">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-half"></i>
        <i class="bi bi-star"></i>        
      </div>
      <div class="container-price">
        <p class="card-price">R$ 99,00 </p>
        <span class="info-price">à vista / un.</span>
      </div>
      <div class="btn-card">
        <button class="btn-buy" type="submit">want to buy</button><br>
        <button class="btn-see" type="submit">See More</button>
      </div>
      
    </div>
</div>
<section>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <button class="btn-filter-news">Novidades</button>
        <button class="btn-filter">Supermarket</button>
        <button class="btn-filter">house and garden</button>
        <button class="btn-filter">clothing</button>
        <button class="btn-filter">pet line</button>

          </div>
          <div class="carousel-item">
            <div class="gallery-wrapper">
              <div class="gallery">
                  <img class="item current-item" src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1735581825/project-insums/carrousel/erva-mate_rotiim.png" alt="Erva-Mate">
                  <img class="item" src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1735581825/project-insums/carrousel/confot-pads_t8yte1.png" alt="Ração Pads">
                  <img class="item" src="https://res.cloudinary.com/ddbfgigsu/image/upload/v1735581824/project-insums/carrousel/boro-solo_owhcbn.png" alt="Boro Solo">
             </div>
          </div>

          </div>
          <div class="carousel-item">
            <button class="btn-filter-news">Novidades</button>
        <button class="btn-filter">Supermarket</button>
        <button class="btn-filter">house and garden</button>
        <button class="btn-filter">clothing</button>
        <button class="btn-filter">pet line</button>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
</main>
<!------------------Start cards--------------------------->
<p>main works!</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ad quam provident voluptate inventore ab officiis! Vitae quibusdam modi similique dignissimos, eos sapiente et. Similique voluptatum aut iusto quam in.
